* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif !important;
    overflow-x: hidden;
}

#container {
    display: flex;
    width: 500vw; /* 5 rooms, 100vw each */
    height: 100vh;
    transition: transform 0.8s ease-in-out; /* Smooth transition */
}

.room {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.room-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.room-content.active {
    opacity: 1;
    transform: translateY(0);
}